
html, body, table
{
  font-family: Verdana, Arial, Helvetica;
  font-size:   10pt;
  font-style:  normal;
  font-weight: normal;
  background:  #999999;
  color:       #000000;
}

body
{
  text-align: center;
}

pre
{
  font-family: "courier new";
  font-style:  normal;
  font-size:   10pt;
}

a:link
{
  color: #cccccc;
  background: transparent;
  text-decoration: none;
}

a:visited
{
  color: #666666;
  background: transparent;
  text-decoration: none;
}

a:active
{
  color: #ffffff;
  background: transparent;
  text-decoration: none;
}

a:hover
{
  color: #ffffff;
  background: #666666;
  text-decoration: none;
}

@media print
{
  h1, h2, h3, h4, h5, h6 { page-break-after: avoid; page-break-inside: avoid }
  blockquote, pre        { page-break-inside: avoid }
  ul, ol, dl             { page-break-before: avoid }
}

